<p>This is the Gallery view.</p>

<h1>Showing off my programming abilities</h1>

<ul>
	<li><span>Tina Typing<span><img src='images/tina_typing.png'/><a href="https://murmuring-fortress-1533.herokuapp.com/">Heroku</a><a href="https://github.com/jodonne91/TIY_Final_Project">Github</a></li>
	<li><span>Mock ESPN Landing<span><img src='images/angular_espn.png'/><a href="http://jodonne91.github.io/Angular-espn/public/">GH-Pages</a><a href="https://github.com/jodonne91/Angular-espn">Github</a></li>
	<li><span>Write your own adventure<span><img src='images/write_adventure.png'/><a href="https://blooming-anchorage-5496.herokuapp.com/">Heroku</a><a href="https://github.com/jodonne91/write-your-own-adventure">Github</a></li>
	<li><span>Surf and Paddle<span><img src='images/surf_paddle.png'/><a href="http://jodonne91.github.io/html-surf-and-paddle/">GH-Pages</a><a href="https://github.com/jodonne91/html-surf-and-paddle">Github</a></li>
	<li><span>Transit Board<span><img src=''/><a href="https://github.com/kwals/Transit-App">Github</a></li>
	<li><span>CSS Zen Garden/TIY Pages<span><img src='images/Zen_garden.png'/><a href="https://github.com/jodonne91/css-zen-garden">Github</a></li>
	<li><span>Color clock<span><img src='images/Color_clock.png'/><a href="https://github.com/jodonne91/color-clock">Github</a></li>
	<li><span>Github Repo Page<span><img src='images/github_repo.png'/><a href="https://github.com/jodonne91/github-repo">Github</a></li>
</ul>