<h1>Showing off my programming abilities</h1>

<ul>
	<li><span>Whistle Time</span>
		<p>App for scheduling meetings accross timezones using Twitter Bootstrap</p>
		<img src='images/Whistle-time.png'/>
		<a href="https://fast-badlands-8540.herokuapp.com">Heroku</a><br>
		<a href="https://github.com/jodonne91/Whistle_time">Github</a>
	</li>
	<hr>
	<li><span>Tina Typing<span>
		<p>Typing speed test app. Simplistic styling using no frameworks or libraries other than jQuery.</p>
		<img src='images/tina_typing.png'/>
		<a href="https://murmuring-fortress-1533.herokuapp.com/">Heroku</a><br>
		<a href="https://github.com/jodonne91/TIY_Final_Project">Github</a>
	</li>
	<hr>
	<li><span>Mock ESPN Landing<span>
		<p>My own makings of the (old) ESPN landing page from scratch using Angular.js.</p>
		<img src='images/angular_espn.png'/>
		<a href="http://jodonne91.github.io/Angular-espn/public/">GH-Pages</a><br>
		<a href="https://github.com/jodonne91/Angular-espn">Github</a>
	</li>
	<hr>
	<li><span>Write your own adventure<span>
		<p>App to create your own choose-your-own-adventure book using Backbone.js.</p>
		<img src='images/write_adventure.png'/><br>
		<a href="https://blooming-anchorage-5496.herokuapp.com/">Heroku</a><br>
		<a href="https://github.com/jodonne91/write-your-own-adventure">Github</a>
	</li>
	<hr>
	<li><span>Surf and Paddle<span>
		<p>CSS Styling to perfection matching designer's specs.</p>
		<img src='images/surf_paddle.png'/>
		<a href="http://jodonne91.github.io/html-surf-and-paddle/">GH-Pages</a><br>
		<a href="https://github.com/jodonne91/html-surf-and-paddle">Github</a>
	</li>
	<hr>
	<li><span>CSS Zen Garden/TIY Pages<span>
		<p>Additional CSS practice on The Iron Yard's home page.</p>
		<img src='images/Zen_garden.png'/>
		<a href="https://github.com/jodonne91/css-zen-garden">Github</a>
	</li>
	<hr>
	<li><span>Color clock<span>
		<p>Functional clock app that changed background color in accordance with the current time.</p>
		<img src='images/Color_clock.png'/>
		<a href="https://github.com/jodonne91/color-clock">Github</a>
	</li>
	<hr>
	<li><span>Github Repo Page<span>
		<p>Skelatal structure of the GutHub Repository page.</p>
		<img src='images/github_repo.png'/>
		<a href="https://github.com/jodonne91/github-repo">Github</a>
	</li>
<!-- 	<li><span>Transit Board<span>
		<img src=''/>
		<a href="https://github.com/kwals/Transit-App">Github</a></li> -->
</ul>